    body{
        background-image:url(https://bing.img.run/uhd.php);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #box{
        width:520px;
        position:relative;
        margin: -120px;
    }
    input{
        width:520px;
        border:1px solid #e2e2e2;
        outline:none;
        border-radius:20px;
        height:46px;
        float:left;
        padding:0 0 0 10px;
        font-family:'Microsoft YaHei';
        font-size:20px;
        background-color:white;
    }
    #search{
        border:0;
        outline:none;
        width:30px;
        height:30px;
        position:absolute;
        top:10px;
        right:15px;
        background-image:url(/images/search.svg);
        background-repeat:no-repeat;
        background-size:26px;
        cursor:pointer;
    }
}
